.form {
    max-width: 574px;
    width: 100%;
    min-height: 520px;
    background-color: rgba(36, 36, 38, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
}

.title {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 40px;
    margin-bottom: 10px;
}

.text {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
}


.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 494px;
    width: 100%;

    div {
        display: flex;
        flex-direction: column;
    }
}

.input {
    max-width: 494px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    outline: none !important;
    background: rgba(50, 53, 55, 1);

}


.button {
    margin-top: 30px;
    color:  rgba(255, 255, 255, 1);
    background-color: rgb(25, 63, 152);
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 10px;
    max-width: 494px;
    width: 100%;
    height: 56px;
    margin-bottom: 10px;
}


.children {
    margin-top: 30px;
    text-align: center;
}

.gender{
    display: flex;
    flex-direction: row;
}